<!DOCTYPE html>
<html>
<head>
  <title>Firehosequiz1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<header>
	<div class= "col-xs-5 links">
		<%= link_to 'Form', new_name_path %>
	</div>
</header>
</html>
